Load CSV into dataframe:

In [1]:
%%time
import pandas as pd
import numpy as np
import datetime, csv, os
file = r'G:\Files\3279\2020\Code\Transactions\csv\new_total_transactions1.csv'
df = pd.read_csv(file, low_memory = False, sep = "\t")
(drive, path) = os.path.splitdrive(file)
print('we are working at letter',drive)

we are working at letter G:
Wall time: 1min 23s

In [2]:
%%time
df['Дата1'] = pd.to_datetime(df['Дата'], format='%Y-%m-%d')
#df['Дата2'] = pd.to_datetime(df['Дата'], format='%Y-%B-%d')

Wall time: 549 ms

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6725367 entries, 0 to 6725366
Data columns (total 29 columns):
 #   Column                  Dtype
---  ------                  -----
 0   №                       float64
 1   spare                   object
 2   Фил                     int64
 3   Исполнитель             object
 4   Создатель               object
 5   Дата                    object
 6   № док-та                object
 7   Счет Дт                 object
 8   Наменование счета ДТ    object
 9   Наменование клиента ДТ  object
 10  ИНН клиента ДТ          object
 11  Сумма в ном. ДТ         float64
 12  Сумма в руб. экв. ДТ    float64
 13  Счет Кт                 object
 14  Наменование счета КТ    object
 15  Наменование клиента КТ  object
 16  ИНН клиента КТ          object
 17  Сумма в ном. КТ         float64
 18  Сумма в руб. экв. КТ    float64
 19  Назначение операции     object
 20  Кат                     object
 21  Документ                float64
 22  1                       float64
 23  2                       float64
 24  accountDT2level         int64
 25  accountKT2level         int64
 26  Month                   object
 27  Unnamed: 0              float64
 28  Дата1                   datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(3), object(16)
memory usage: 1.5+ GB
None

search by accounts second level:

In [3]:
%%time
account1 = 40702
account2 = account1
df1 = df[df['accountDT2level'] == account1]
df2 = df[df['accountKT2level'] == account2]
print(df1.shape)
print(df2.shape)

(10178, 29)
(9368, 29)
Wall time: 48.8 ms

In [4]:
%%time
print("start saving files")
df1.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(account1)+ '_DT' + '.xlsx', engine='xlsxwriter')
#df1.to_csv(drive + r'\Files\3279\transactions\!_ready\\' + str(account1)+ '_DT' + '.csv', sep = "\t", index = False, encoding = "cp1251")
print("first file had been saved")
df2.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(account2)+ '_KT' + '.xlsx', engine='xlsxwriter')
#df2.to_csv(drive + r'\Files\3279\transactions\!_ready\\' + str(account2)+ '_KT' + '.csv', sep = "\t", index = False, encoding = "cp1251")
print("everything had been saved")

start saving files
first file had been saved
everything had been saved
Wall time: 6.27 s

Search by transaction description:

In [11]:
%%time
search1 = ('7703418281')
find1 = df['ИНН клиента КТ']

# Назначение операции
# Наменование клиента ДТ


df3 = df[find1.str.contains(str(search1), na=False)]
print(df3.shape)

(13, 29)
Wall time: 1.3 s

In [12]:
%%time
print(df3.head)

<bound method NDFrame.head of                 №       spare  Фил                     Исполнитель  \
1196       1799.0  2019-01-01    1  Служевенкова Елена Анатольевна
3887647       NaN  2019-07-31    1      Шавырина Ирина Геннадиевна
3888265       NaN  2019-07-31    1      Шавырина Ирина Геннадиевна
3888269       NaN  2019-07-31    1          Алиева Инна Викторовна
3888271       NaN  2019-07-31    1     Тужикова Ольга Владимировна
3888295       NaN  2019-07-31    1         Соловьева Ольга Юрьевна
3888304       NaN  2019-07-31    1     Тужикова Ольга Владимировна
4519339  288910.0  2019-08-30    1      Шавырина Ирина Геннадиевна
6138701       NaN  2019-11-15    1                          DAEMON
6138703       NaN  2019-11-15    1                          DAEMON
6157480       NaN  2019-11-26    1         Соловьева Ольга Юрьевна
6157481       NaN  2019-11-26    1         Соловьева Ольга Юрьевна
6270090       NaN  2019-11-15   46                          DAEMON

                           Создатель        Дата    № док-та  \
1196      Шавырина Ирина Геннадиевна  2019-01-01         102
3887647      Соловьева Ольга Юрьевна  2019-07-31       62700
3888265      Соловьева Ольга Юрьевна  2019-07-31       62747
3888269      Соловьева Ольга Юрьевна  2019-07-31       06684
3888271      Соловьева Ольга Юрьевна  2019-07-31       00334
3888295  Тужикова Ольга Владимировна  2019-07-31       06662
3888304  Тужикова Ольга Владимировна  2019-07-31       06661
4519339      Соловьева Ольга Юрьевна  2019-08-30       02634
6138701                       DAEMON  2019-11-15         5.0
6138703                       DAEMON  2019-11-15         4.0
6157480      Соловьева Ольга Юрьевна  2019-11-26  19001948.0
6157481      Соловьева Ольга Юрьевна  2019-11-26  19001950.0
6270090                       DAEMON  2019-11-15   4080429.0

                      Счет Дт  \
1196     60323810500008999999
3887647  60323810200000003044
3888265  70606810810004730520
3888269  70606810810004730520
3888271  70606810810004730520
3888295  70606810910004730420
3888304  70606810910004730420
4519339  70602810510002151201
6138701  30302810932790000045
6138703  30302810932790000045
6157480  70602810510002151201
6157481  70602810510002151201
6270090  99999810479450000001

                                      Наменование счета ДТ  \
1196        Расчеты с прочими дебиторами. Пр.пер. на МСФО9
3887647                                 ОООРОСТ ИНВЕСТИЦИИ
3888265  Корректировки, увеличивающие операционные расх...
3888269  Корректировки, увеличивающие операционные расх...
3888271  Корректировки, увеличивающие операционные расх...
3888295   Резерв 611П. Пр. Дебиторск.задолженн.,не % доход
3888304   Резерв 611П. Пр. Дебиторск.задолженн.,не % доход
4519339  Доходы (кроме процентных) от переоценки прочих...
6138701     ВНУТРИБАНКОВСКИЕ ТРЕБОВАНИЯ ГО К Ф. В Г.МОСКВА
6138703     ВНУТРИБАНКОВСКИЕ ТРЕБОВАНИЯ ГО К Ф. В Г.МОСКВА
6157480  Доходы (кроме процентных) от переоценки прочих...
6157481  Доходы (кроме процентных) от переоценки прочих...
6270090  Счет для корреспонденции с активными счетами п...

                 Наменование клиента ДТ  ...  \
1196                                NaN  ...
3887647              ОООРОСТ ИНВЕСТИЦИИ  ...
3888265                             NaN  ...
3888269                             NaN  ...
3888271                             NaN  ...
3888295                             NaN  ...
3888304                             NaN  ...
4519339                             NaN  ...
6138701  Ф-Л БАНКАТРАСТ(ПАО) В Г.МОСКВА  ...
6138703  Ф-Л БАНКАТРАСТ(ПАО) В Г.МОСКВА  ...
6157480                             NaN  ...
6157481                             NaN  ...
6270090                             NaN  ...

                                       Назначение операции    Кат  \
1196     Отрицательная разница между справедливой стоим...  5
3887647  Восстановление размера Уставного капитала ОООР...  5
3888265                  Корректировка ОРПКУ на 01.08.2019  5
3888269                         Создан ОРПКУ на 01.08.2019  5
3888271                         Создан ОРПКУ на 01.08.2019  5
3888295         Корректировка по счету 6032381083000003046  5
3888304  Корректировка суммы резерва по счёту 603238102...  5
4519339  Корректировка справедливой стоимости по МСФО н...  5
6138701  Взыск д/с по ИЛ серии ФС N033067801 выд 18.07....  4
6138703  Взыск д/с по ИЛ серии ФС N033067801 выд 18.07....  4
6157480  ИП - корректировка справедливой стоимости на 1...  5
6157481  ИП - корректировка справедливой стоимости на 1...  5
6270090  Оплата К-2 док. N 5 от 15/11/2019 на cумму 915...  68

             Документ   1   2 accountDT2level accountKT2level     Month  \
1196     1.262526e+09 NaN NaN           60323           60220   January
3887647  1.275730e+09 NaN NaN           60323           60202      July
3888265  1.275731e+09 NaN NaN           70606           60213      July
3888269  1.275885e+09 NaN NaN           70606           60352      July
3888271  1.275941e+09 NaN NaN           70606           60352      July
3888295  1.275884e+09 NaN NaN           70606           60324      July
3888304  1.275883e+09 NaN NaN           70606           60324      July
4519339  1.277947e+09 NaN NaN           70602           60221    August
6138701  1.281564e+09 NaN NaN           30302           60323  November
6138703  1.281564e+09 NaN NaN           30302           60323  November
6157480  1.281929e+09 NaN NaN           70602           60220  November
6157481  1.281929e+09 NaN NaN           70602           60221  November
6270090  1.281564e+09 NaN NaN           99999           90902  November

         Unnamed: 0      Дата1
1196            NaN 2019-01-01
3887647     67376.0 2019-07-31
3888265     68409.0 2019-07-31
3888269     68413.0 2019-07-31
3888271     68415.0 2019-07-31
3888295     68454.0 2019-07-31
3888304     68464.0 2019-07-31
4519339         NaN 2019-08-30
6138701     61313.0 2019-11-15
6138703     61317.0 2019-11-15
6157480    106930.0 2019-11-26
6157481    106932.0 2019-11-26
6270090    317940.0 2019-11-15

[13 rows x 29 columns]>
Wall time: 13 ms

In [13]:
%%time
df3.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str("transactions_description2") + '.xlsx', engine='xlsxwriter')
#df3.to_csv(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str("transactions_description1") + '.csv', sep = "\t", index = False, encoding = "cp1251")
print("everything saved")

everything saved
Wall time: 349 ms

Search by amount:

In [ ]:
%%time
amount1 = 26549375.22

df4 = df[df['Сумма в руб. экв. ДТ'] == amount1]

print(df4.shape)

In [ ]:
%%time
df4.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str("amount") + '.xlsx', engine='xlsxwriter')
print("everything saved")

In [ ]:
%%time
#df['accountKT2level'] = df['Счет Кт'].astype(float).str[0:5]
#df2 = df[df['accountKT2level'] == "ВНУТР"]
print(df.head())

In [ ]:
# print(df['accountDT2level'].count())
# print(df['accountKT2level'].count())
print(df['accountDT2level'].describe())
print(df['accountKT2level'].describe())

In [ ]:
%%time
print(df.info())
#df.to_html(drive + r'\Files\3279\2020\Code\Transactions\csv\common.html')

Search by list of accounts

In [ ]:
%%time
import csv
with open(drive + r'\Files\3279\2020\Code\Transactions\OH.csv', 'r') as f:
    reader = csv.reader(f)
    uids = (line.strip() for line in f)
    search = list(uids)
# df_search = pd.read_csv(drive + r'\Files\3279\2020\Code\Transactions\analysis\accounts_transactions.csv', low_memory = False)
# search = df_search.values.tolist()
print(search)

In [6]:
search = ['40702810879450006896']

In [7]:
%%time
df_result1 = df[df['Счет Кт'].isin(search)]
df_result2 = df[df['Счет Дт'].isin(search)]

Wall time: 254 ms

In [8]:
%%time

now = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M")
print(now)
print("start saving files")
df_result2.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('search') + '_'+ now + '_DT' + '.xlsx', engine='xlsxwriter')
print("first file had been saved")
df_result1.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('search') + '_'+ now + '_KT' + '.xlsx', engine='xlsxwriter')
print("everything had been saved")

2020-04-20_17-25
start saving files
first file had been saved
everything had been saved
Wall time: 387 ms

In [10]:
%%time
print(df_result1.shape)
print(df_result2.shape)
print(df_result1.info())

(0, 29)
(13, 29)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   №                       0 non-null      float64
 1   spare                   0 non-null      object
 2   Фил                     0 non-null      int64
 3   Исполнитель             0 non-null      object
 4   Создатель               0 non-null      object
 5   Дата                    0 non-null      object
 6   № док-та                0 non-null      object
 7   Счет Дт                 0 non-null      object
 8   Наменование счета ДТ    0 non-null      object
 9   Наменование клиента ДТ  0 non-null      object
 10  ИНН клиента ДТ          0 non-null      object
 11  Сумма в ном. ДТ         0 non-null      float64
 12  Сумма в руб. экв. ДТ    0 non-null      float64
 13  Счет Кт                 0 non-null      object
 14  Наменование счета КТ    0 non-null      object
 15  Наменование клиента КТ  0 non-null      object
 16  ИНН клиента КТ          0 non-null      object
 17  Сумма в ном. КТ         0 non-null      float64
 18  Сумма в руб. экв. КТ    0 non-null      float64
 19  Назначение операции     0 non-null      object
 20  Кат                     0 non-null      object
 21  Документ                0 non-null      float64
 22  1                       0 non-null      float64
 23  2                       0 non-null      float64
 24  accountDT2level         0 non-null      int64
 25  accountKT2level         0 non-null      int64
 26  Month                   0 non-null      object
 27  Unnamed: 0              0 non-null      float64
 28  Дата1                   0 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(3), object(16)
memory usage: 0.0+ bytes
None
Wall time: 4.99 ms

In [ ]:
df_result1.to_excel(drive + r'\Files\3279\2020\Code\Transactions\analysis\\' + str('search_new6') + '.xlsx', engine='xlsxwriter')
print("everything saved")

In [ ]:
search1 = ('оплата')
search2 = ('494-19/Ц от 02.07.2019')
find1 = df['Наменование клиента КТ']
find2 = df['Назначение операции']
find3 = df['accountKT2level']
#df1 = df[[find2 == search2]]
#df1 = df[df['accountDT2level'] == 70606]
df1 = df[find2.str.contains(str(search2), na=False)]
df1.head()

In [ ]:
%%time
df['symbolDT'] = df['Счет Дт'].astype(str).str[13:18]
df['symbolKT'] = df['Счет Кт'].astype(str).str[13:18]
#print(1)
df['symbolDT'] = df['symbolDT'].astype(int)
#print(2)
df['symbolKT'] = df['symbolKT'].astype(int)

#pd.to_numeric(df['symbolDT'], errors='coerce')

#pd.to_numeric(df['symbolKT'], errors='coerce')
#df = df.replace(r'^\s*$', np.nan, regex=True)
#df['accountDT2level2'] = df['accountDT2level2'].astype(int)
#df['accountKT2level2'] = df['accountKT2level2'].astype(int)
#df['accountKT2level2']= pd.to_numeric(df['accountKT2level2'], errors='coerce')
#df['accountKT2level2'] = df['accountKT2level2'].replace(r'^\s*$', np.nan, regex=True)
#df['accountKT2level2'].fillna(0)

#df['accountKT2level2'].replace(to_replace='nan', value=0, regex=True)

# df['accountKT2level2'] = df['accountKT2level2'].fillna(-1)
# df['accountKT2level2'] = df['accountKT2level2'].astype(int)
# df['accountKT2level2'] = df['accountKT2level2'].astype(str)
# df['accountKT2level2'] = df['accountKT2level2'].replace('-1', np.nan)
#df['accountKT2level2'] = df['accountKT2level2'].astype(int)
# pd.to_numeric(df['accountDT2level2'], errors='coerce')
# pd.to_numeric(df['accountKT2level2'], errors='coerce')

In [ ]:
print(df.describe())

In [ ]:
df['symbolDT'] = df['symbolDT'].astype(int)
print(df['Сумма в руб. экв. ДТ'].describe())
print(df['Сумма в руб. экв. КТ'].describe())
print(df['symbolDT'].describe())
print(df['symbolKT'].describe())

In [ ]:
%%time
account1 = 30305
account2 = account1
df1 = df[df['accountDT2level'] == account1]
df2 = df[df['accountKT2level'] == account1]
print(df1.shape)
print(df2.shape)

selection of multiple accounts

In [ ]:
accounts = ['45816810000003037118','45816810200003037125',
            '45816810500305003081','45816810000450000471',
            '45816810100450000481','45816810200450000459',
            '45816810300450000388','45816810600450000415',
            '45816810800450000435','45816840700450000372',
            '45816840900450000347','45916810000450000481',
            '45916810100450000459','45916810200450000388',
            '45916810500450000415','45916810700450000435',
            '45916810900450000471','45916840600450000372',
            '45916840800450000347','60323810050450000481',
            '60323810150450000459','60323810250450000388',
            '60323810550450000415','60323810750450000435',
            '60323810940450000481','60323810950450000471',
            '60323840650450000372','60323840850450000347']

df1 = df[df['Счет Дт'].isin(accounts)]
print(df1.shape)
df1.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + 'selection' + '.xlsx')

In [ ]:
%%time
print("start saving files")
df1.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(account1)+ 'DT' + '.xlsx', engine='xlsxwriter')
print("first file had been saved")
df2.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(account2)+ 'KT' + '.xlsx', engine='xlsxwriter')
print("everything saved")]

bad selection by symbols

In [ ]:
%%time
#symbol = 48414
symbol = ['26210']
df1 = df[df['symbolDT'].isin(symbol)]
df2 = df[df['symbolЛT'].isin(symbol)]
print(df1.shape)

In [ ]:
print(df1['Счет Кт'].head())
print(df1['symbolKT'].head())

In [ ]:
df1.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(131) + '.xlsx')

working selection by symbols

In [3]:
%%time
df['sym_DT'] = df['Счет Дт'].astype(str).str[13:18].astype(int)
df['sym_KT'] = df['Счет Кт'].astype(str).str[13:18].astype(int)

Wall time: 6.55 s

In [18]:
%%time
symbol1 = 23102
symbol2 = symbol1
df1 = df[df['sym_DT'] == symbol1]
df2 = df[df['sym_KT'] == symbol2]
print(df1.shape)
print(df2.shape)

(0, 31)
(3886, 31)
Wall time: 16.5 ms

In [19]:
%%time
print("start saving files")
df1.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(symbol1)+ '_DT' + '.xlsx', engine='xlsxwriter')
print("first file had been saved")
df2.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(symbol2)+ '_KT' + '.xlsx', engine='xlsxwriter')
print("everything had been saved")

start saving files
first file had been saved
everything had been saved
Wall time: 1.46 s

working selection by accounts 1st level

In [ ]:
%%time
df['acc_DTii'] = df['Счет Дт'].astype(str).str[:3].astype(int)
df['acc_KTii'] = df['Счет Кт'].astype(str).str[:3].astype(int)

In [ ]:
%%time
account1 = 603
account2 = account1
df1 = df[df['acc_DTii'] == account1]
df2 = df[df['acc_KTii'] == account2]
print(df1.shape)
print(df2.shape)

In [ ]:
%%time
print("start saving files")
df1.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(account1)+ '_DT' + '.xlsx', engine='xlsxwriter')
print("first file had been saved")
df2.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str(account2)+ '_KT' + '.xlsx', engine='xlsxwriter')
print("everything had been saved")

In [ ]:
df.head()

Several symbols selection

###

In [15]:
%%time


def iterate_over_symbols(df, symbol, side):
    if side == 'DT':
        df_new = df[df['sym_DT'] == symbol]
        df_new = df_new[df_new['accountDT2level'] == 70601]
    elif side == 'KT':
        df_new = df[df['sym_KT'] == symbol]
        df_new = df_new[df_new['accountKT2level'] == 70601] 
    return df_new

now = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M")
df_selected = pd.DataFrame()
side = 'KT'
df['sym_DT'] = df['Счет Дт'].astype(str).str[13:18].astype(int)
df['sym_KT'] = df['Счет Кт'].astype(str).str[13:18].astype(int)

if side ==  'KT':  
    with open(drive + r'\Files\3279\2020\Code\symbols_interest_income1.csv', 'r') as f:
        reader = csv.reader(f)
        uids = (line.strip() for line in f)
        symbol_list = list(uids)[1:]
if side ==  'DT': 
    with open(drive + r'\Files\3279\2020\Code\symbols_interest_income1.csv', 'r') as f:
        reader = csv.reader(f)
        uids = (line.strip() for line in f)
        symbol_list = list(uids)[1:]


# df1 = df[df['sym_DT'] == symbol]
if side == 'KT':
    print('ptocessing KT turnovers')
    for symbol in symbol_list:
        df_selected = df_selected.append(iterate_over_symbols(df,int(symbol),side), ignore_index=True, sort=False)

    list_of_accounts = df_selected['Счет Дт'].drop_duplicates(keep='first', inplace=False).tolist()
    print('found as many accounts as', len(list_of_accounts))
#     df_result = df[df['Счет Кт'].isin(list_of_accounts)]
    result = df_selected
#     result = df_result.groupby(['accountDT2level','accountKT2level'])['Сумма в руб. экв. ДТ'].sum()
#     result_count = df_result.groupby(['accountDT2level','accountKT2level'])['Сумма в руб. экв. ДТ'].count()

    print('now is', now)
    result.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('result_706_income') + '_'+ now + '.xlsx', engine='xlsxwriter')
#     result_count.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('result_706_income_count') + '_'+ now + '.xlsx', engine='xlsxwriter')
    print('ready')

if side == 'DT':
    print('ptocessing DT turnovers')
    for symbol in symbol_list:
        print('symbol:',symbol)
        df_selected = df_selected.append(iterate_over_symbols(df,int(symbol),side), ignore_index=True, sort=False)
        list_of_accounts = df_selected['Счет Кт'].drop_duplicates(keep='first', inplace=False).tolist()
    print('found as many accounts as', len(list_of_accounts))
    result = df_selected
#     df_result = df[df['Счет Дт'].isin(list_of_accounts)]
#     result = df_result.groupby(['accountKT2level','accountDT2level'])['Сумма в руб. экв. КТ'].sum()
#     result_count = df_result.groupby(['accountKT2level','accountDT2level'])['Сумма в руб. экв. КТ'].count()

    print('now is', now)
    result.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('result_706_exp') + '_'+ now + '.xlsx', engine='xlsxwriter')
#     result_count.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('result_706_exp_count') + '_'+ now + '.xlsx', engine='xlsxwriter')
    print('ready')

ptocessing DT turnovers
symbol: 11106
symbol: 11111
symbol: 11112
symbol: 11113
symbol: 11114
symbol: 11115
symbol: 11116
symbol: 11118
found as many accounts as 956
now is 2020-03-16_10-09
ready
Wall time: 6.29 s

In [12]:
df_selected.head()

Empty DataFrame
Columns: [№, spare, Фил, Исполнитель, Создатель, Дата, № док-та, Счет Дт, Наменование счета ДТ, Наменование клиента ДТ, ИНН клиента ДТ, Сумма в ном. ДТ, Сумма в руб. экв. ДТ, Счет Кт, Наменование счета КТ, Наменование клиента КТ, ИНН клиента КТ, Сумма в ном. КТ, Сумма в руб. экв. КТ, Назначение операции, Кат, Документ, 1, 2, accountDT2level, accountKT2level, Month, Unnamed: 0, Дата1, sym_DT, sym_KT]
Index: []

[0 rows x 31 columns]

In [ ]:
list_of_accounts = df_selected['Счет Дт'].drop_duplicates(keep='first', inplace=False).tolist()

print(len(list_of_accounts))

df_result = df[df['Счет Кт'].isin(list_of_accounts)]

In [ ]:
if side == 'KT':
    result = df_result.groupby(['accountDT2level','accountKT2level'])['Сумма в руб. экв. ДТ'].sum()
    result_count = df_result.groupby(['accountDT2level','accountKT2level'])['Сумма в руб. экв. ДТ'].count()
    print('done KT')

if side == 'DT':
    result = df_result.groupby(['accountKT2level','accountDT2level'])['Сумма в руб. экв. КТ'].sum()
    result_count = df_result.groupby(['accountKT2level','accountDT2level'])['Сумма в руб. экв. КТ'].count()
    print('done DT')

In [ ]:
%%time

now = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M")
print(now)
result.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('result') + '_'+ now + '.xlsx', engine='xlsxwriter')
result_count.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('result_count') + '_'+ now + '.xlsx', engine='xlsxwriter')
print('ready')

In [ ]:
%%time
if side== 'KT':
    print('processing KT')
    now = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M")
    selected_data = pd.DataFrame()
    list_of_accounts=[(30102, 47422),
                      (30102, 47427),
                      (30110, 47423),
                      (30110, 47427),
                      (30302, 47422),
                      (30302, 47427),
                      (30306, 47422),
                      (30306, 47427),
                      (30402, 50104),
                      (40701, 47427),
                      (40702, 47427),
                      (40802, 47427),
                      (40817, 45915),
                      (40817, 47427),
                      (40817, 61212),
                      (40817, 70601),
                      (42307, 47427),
                      (42307, 61212),
                      (47422, 47423),
                      (47422, 47427),
                      (47422, 61212),
                      (60322, 47427),
                      (61210, 50107),
                      (61210, 51214),
                      (61212, 47427),
                      (61214, 45915),
                      (61214, 47427)]
    for DT_account, KT_account  in list_of_accounts:
        selected_data_temp = df_result.loc[(df_result['accountDT2level'] == DT_account) & (df_result['accountKT2level'] == KT_account)]
        selected_data = selected_data.append(selected_data_temp)

    selected_data.info()
    selected_data.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('selected_data') + '_'+ now + '.xlsx', engine='xlsxwriter')
    print('done KT')
if side == 'DT':
    print('processing DT')
    now = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M")
    selected_data = pd.DataFrame()
    list_of_accounts=[(20202, 40817),
                      (20202, 42301),
                      (20202, 47422),
                      (30102, 47426),
                      (30110, 47426),
                      (30114, 47426),
                      (30222, 40817),
                      (30222, 42301),
                      (30232, 40817),
                      (30233, 40817),
                      (30301, 40817),
                      (30301, 42301),
                      (30305, 47422),
                      (30305, 47426),
                      (40702, 47426),
                      (40703, 74726),                     
                      (40705, 47426),
                      (40802, 47426),
                      (40807, 47426),
                      (40817, 47411),
                      (40820, 47411),
                      (42301, 47411),
                      (42301, 47422),
                      (42303, 47411),
                      (42304, 47411),
                      (42305, 47411),
                      (42306, 47411),
                      (42307, 47411),
                      (42308, 47411),
                      (42601, 47411),
                      (42605, 47411),
                      (42606, 47411),
                      (42607, 47411),
                      (42609, 47411),
                      (60301, 47426)]
    for KT_account, DT_account  in list_of_accounts:
        selected_data_temp = df_result.loc[(df_result['accountDT2level'] == DT_account) & (df_result['accountKT2level'] == KT_account)]
        selected_data = selected_data.append(selected_data_temp)

    selected_data.info()
    selected_data.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('selected_data') + '_'+ now + '.xlsx', engine='xlsxwriter')
    print('done DT')

In [ ]:
%%time
now = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M")
selected_data = pd.DataFrame()
list_of_accounts=[(47426, 30102)]
for DT_account, KT_account  in list_of_accounts:
    selected_data_temp = df_result.loc[(df_result['accountDT2level'] == DT_account) & (df_result['accountKT2level'] == KT_account)]
    selected_data = selected_data.append(selected_data_temp)

selected_data.info()
selected_data.to_excel(drive + r'\Files\3279\2020\Code\Transactions\!_ready\\' + str('selected_data') + '_'+ now + '.xlsx', engine='xlsxwriter')
print('done')